#nav-wrapper {
    width: 100%;
    background-color: #1f2227;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav-status {
    display: none;
}

#nav-wrapper > .row {
    overflow-y: hidden;
}

#nav-list {
    list-style-type: none;
    visibility: hidden;
    z-index: -1;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    background-color: #1f2227;

    transition: all 250ms;

    overflow-y: scroll;
}

.nav-col-1 {
    width: 80%;
}

.nav-col-2 {
    width: 20%;
}

#nav-wrapper > .row {
    padding: 0;
    margin: 0;
    height: 60px;
}

[class*="nav-col-"] {
    height: 60px;
    overflow: hidden;
}

#nav-label > i:after {
    content: "menu";
}

#nav-status:checked + #nav-label > i:after {
    content: "close";
}

#nav-status:checked ~ #nav-list {
    visibility: visible;
    z-index: 5;
    opacity: 1;
}

a.nav-item {
    height: 60px;
    line-height: 60px;
    padding: 10px 15px;
}

.open-nav {
    padding: 0 15px;
}

a.nav-item:not(.dropdown-item), #open-menu-button, #close-menu-button {
    font-size: 2em;
}

#open-menu-button, #close-menu-button {
    cursor: pointer;
}

#open-menu-button {
    float: right;
    line-height: 60px;
    height: 60px;
}

.nav-action {
    color: white;
    text-decoration: none;
}

#nav-list > li:nth-child(2) {
    margin-top: 10%;
}

li.nav-item:not(.dropdown-item) {
    font-size: 2em;
    font-weight: bold;
}

li.nav-item:not(.close-nav) {
    width: 100%;
    padding: 15px;
}

.full-width {
    width: 100%;
}

.nav-item:hover > a, .nav-item:hover:not(.nav-dropdown) {
    background-color: lightblue;
}

#close-menu-button {
    float: right;
    margin: 10px 10px 0 0;
    padding: 15px;
    border-radius: 50px;
}

#close-menu-button:hover {
    background-color: lightblue;
}